*{
margin: 0;
padding: 0;
box-sizing: border-box;

}


html{
font-size: 62.5%;



}


:root{
--balck:#1d1d1f;
--blue:#0071e3;
--gray:#7e7e7e;
--whit:#ffffff;
--orenge: #ee6838;
--lightgray:#f6f5f8;
--lightblue:#daecf8;



}

/* navbar started */

.navbar-container{
display: flex;
justify-content: space-evenly;
align-items: center;
background-color: var(--whit);
backdrop-filter: blur(10px);
position: fixed;
top: 0;
left: 0;
z-index: 999;
width: 100%;
box-shadow: 0 1px 5px rgba(0,0,0,0.1);


}


.nav-items{
padding: 30px 20px;




}

@font-face {
    font-family:MYRIADPRO BOLD ;
    src: url(MYRIADPRO-BOLD.OTF);
}



.apple-mainu-bar{
font-size: 1.5rem;
color: var(--balck);
text-decoration: none;


}


.links {
font-size: 1.3rem;
color: var(--gray);
font-weight: lighter;
text-decoration: none;
font-family:MYRIADPRO BOLD ;
padding: 0px 25px;


}


.links:hover {
color: var(--balck);

}








/* navbar ended */


/* navbar responsive started */
@media(max-width:1024px ){

.links{
display: none;

}



.apple-mainu-bar{
margin: 28px;

}



}

/* navbar responsive ended */

/* main started */


/* sec for shop now started */
.crusell{
position: relative;
bottom: 210px;
top: 8px;

}
.sec-image{
    position: relative;
    top: 70px;
    width: 100%;
  background-size: cover;
  margin: 0 auto;
} 
/* sec for shop now ended */

/*   sec for responsive shop now started */


 @media ( max-width:1024px  ) {
.sec-image {
   width: 100%;
   background-size: cover;
  } 

}








@media ( max-width:764px  ) {
 .sec-image{
    width: 100%;
    background-size: cover;
 }   

} 
/*   sec for responsive shop now ended */


/* sec-containertwo started */
 .sec-containertwo{
width: 100%;
background-size: cover;
margin: 0 auto;
position: relative;
bottom: 130px;
} 


.img-continer{
  height: 600px;
  width: 250%;
  border-radius: 50px;
  position: relative;
  right: 30px;
    object-fit: cover;
  object-position: center center;
  width: 100%;
  height: auto;
  max-width: 1200px; 





}



@font-face {
    font-family: MYRIADPRO;
    src: url(MYRIADPRO-BOLD.OTF);
}

.container-for-sectwo{
  background-color: var(--lightgray);
    display: flex;
    justify-content: center;  
     height: 100vh; 
    position: relative;
top: 220px;

}


.to{
display: flex;
justify-content: center;

}





.sec-heading{
    font-size: 4.4rem;
  font-family: MYRIADPRO;
  text-align: center;

}
.sec-para{
    font-size: 2.5rem;
      font-family: MYRIADPRO;
      font-weight: 100;
      color: var(--gray);
        text-align: center;
}


.btn-sec-two{
       font-family: MYRIADPRO;
    background-color: var(--blue);
    border-radius: 30px;
    padding: 15px 40px;
    border: none;
    cursor: pointer;

}

.btn-sec-three{
       font-family: MYRIADPRO;
    border-radius: 30px;
    padding: 15px 40px;
    cursor: pointer;
    border: 1px solid var(--blue);
    position: relative;
    left: 10px;
  


}

.btn-sec-three:hover{
  background-color: var(--blue);
}


.sec-paratwo{
font-size: 1.9rem;
font-family:MYRIADPRO ;
  text-align: center;
  color: var(--orenge);
  font-weight: lighter;

}


/*sec-containertwo ended */


/* sec-containertwo responsive  started */
@media ( max-width:1024px ) {

.container-for-sectwo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70vh;
}

.sec-heading{
font-size: 2.9rem;

}

.sec-para{
    font-size: 1.6rem;
    font-weight: 100;
    
}

.to{
display: flex;
flex-direction: column;
justify-content: center;

}

.btn-sec-two{
  position: relative;
  left: 50px;
     width: 70%;
     margin-bottom: 15px;
}

.btn-sec-three{
    position: relative;
  left: 50px;
  width: 70%;
}

.img-continer{
width: 100%;
  border-radius: 50px;
  position: relative;
  left: 10px;





}


.sec-paratwo{
font-size: 1.3rem;


}



}


@media ( max-width:764px ) {

.container-for-sectwo{
position: relative;
bottom: 580px;
}

.img-continer{
 width: 100%;
}


}








/* sec-containertwo responsive  ended */



.container-three{
  background-color: var(--lightgray);
  height: 118vh;
width: 100%;
background-size: cover;
margin: 0 auto;
position: relative;
bottom: 130px;
top: 100px;
} 


.mac-image{
  height: 70px;
  width:10%;
  border-radius: 50px;
  position: relative;
  right: 30px;
    object-fit: cover;
  object-position: center center;
  width: 100%;
  height: auto;
  max-width: 1200px; 
}



@font-face {
    font-family: MYRIADPRO;
    src: url(MYRIADPRO-BOLD.OTF);
}

.container-three{
    display: flex;
    justify-content: center;  
     height: 105vh; 
    position: relative;
top: 52px;

}


.to{
display: flex;
justify-content: center;

}





.sec-headingthree{
    font-size: 4.4rem;
  font-family: MYRIADPRO;
  text-align: center;

}
.sec-parathree{
    font-size: 2.5rem;
      font-family: MYRIADPRO;
      font-weight: 100;
      color: var(--gray);
        text-align: center;
}


.btn-sec-two{
       font-family: MYRIADPRO;
    background-color: var(--blue);
    border-radius: 30px;
    padding: 13px 40px;
    border: none;
    cursor: pointer;

}

.btn-sec-three{
       font-family: MYRIADPRO;
    border-radius: 30px;
    padding: 13px 40px;
    cursor: pointer;
    border: 1px solid var(--blue);


}

.btn-sec-three:hover{
  background-color: var(--blue);
}


.sec-parafour{
font-size: 1.9rem;
font-family:MYRIADPRO ;
  text-align: center;
  color: var(--orenge);
  font-weight: lighter;

}





@media ( max-width:1024px ) {

.container-three{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 75vh;
}

.sec-headingthree{
font-size: 2.9rem;

}

.sec-parathree{
    font-size: 1.6rem;
    font-weight: 100;
    
}

.to{
display: flex;
flex-direction: column;
justify-content: center;

}

.btn-sec-two{
  position: relative;
  left: 50px;
     width: 70%;
     margin-bottom: 15px;
}

.btn-sec-three{
    position: relative;
  left: 50px;
  width: 70%;
}

.mac-image{
width: 100%;
  border-radius: 50px;
  position: relative;
  left: 10px;
  right: 39px;





}


.sec-parafour{
font-size: 1.3rem;


}



}


@media ( max-width:764px ) {

.container-three{
position: relative;
bottom: 580px;
}

.mac-image{
 width: 100%;
}


}


